github "exponea/exponea-ios-sdk" == 2.12.2
#use this to test not released version from gitlab
#git "file:///Users/adammihalik/exponea/ios-sdk" "fix/expi-245-2"
github "Flight-School/AnyCodable" == 0.6.0
